/* Definición de la variable CSS --color-base en el selector :root:
   - Establece un color rojo oscuro (#b40000) para ser usado en todo el documento. */
:root {
  --color-base: #b40000;
}

/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 0;

}

h1, h2, h3 {
  color: var(--color-base);
}

p {
  line-height: 1.6;
}

/* Estilos para el contenedor */
.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(233, 22, 22, 0.1); 
}

.logo-container {
  display: flex;
  align-items: center;
}

/* Estilos para la barra de navegación */
.navbar {
  list-style: none; 
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  background-color: var(--color-base); 
  padding: 10px; 
  margin: 0; 
}

.navbar img {
  height: 50px; 
}

.navbar li {
  display: inline; 
}

.navbar li a {
  color: white; 
  text-decoration: none; 
  padding: 10px 20px; 
  transition: background-color 0.3s ease;
}

.navbar li a.active,
.navbar li a:hover {
  background-color: #8b0606;
  border-radius: 5px;
}

/* Estilo de la banner */
.banner {
  text-align: center; 
  padding: 20px;
  background-image: url('https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2021/03/familia-comiendo-pizza-2262401.jpg'); /* Imagen de fondo */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 400px; 
  margin-bottom: 60px; 
}

/* Estilo de la carta de productos (fallback para navegadores sin grid) */
.carta {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding: 20px; 
}


/* Implementación de display: grid solo para navegadores compatibles */
@supports (display: grid) {
  .carta {
      display: grid; /* Usar grid para diseño */
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Columnas adaptativas */
      gap: 20px; /* Espacio entre columnas */
  }
}

/* Estilos para la class producto*/
.producto {
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 15px; 
  background-color: #fff; 
  text-align: center; 
} 

/* Estilo para la primera letra del título h3 dentro de .producto/
   /* Uso de pseudo-elemento*/
.producto h3::first-letter {
  color: var(--color-base);
  font-size: 1.7em;
  font-weight: bold;
}

.producto {
  font-size: 0.9em;
}

/* Estilos para la class titulo*/
.titulo{
  text-align: center; 
}

.titulo-principal{
  color: #8b0606;
  text-align: center; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 30px;
}

/* Estilos para la class sobreNosotros*/
.sobreNosotros{
  text-align: center; 
}

/* Estilos para el pie de página */
footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px; 
  text-align: center; 
}

/* Contenedor del pie de página .footer-content*/
.footer-content {
  max-width: 1200px;
  margin: 0 auto; 
}

/* Estilo para la lista de enlaces en .footer-links:*/
.footer-links {
  list-style: none; 
  padding: 0; 
}

/* Estilo para los elementos de la lista dentro de .footer-links:
   - Los elementos de la lista se muestran en línea, no en bloque.
   - Se aplica un margen horizontal de 15px entre los elementos. */
.footer-links li {
  display: inline; 
  margin: 0 15px; 
}


/* Estilo para los enlaces dentro del contenedor .footer-links:
   - El color del texto se establece en blanco (#fff).
   - Se elimina cualquier subrayado predeterminado de los enlaces. */
   .footer-links a {
    color: #fff; 
    text-decoration: none; 
  }

/* Cuando el usuario pasa el ratón sobre un enlace dentro del contenedor .footer-links, se subraya el texto */
 /* Uso de pseudo-clase*/
.footer-links a:hover {
  text-decoration: underline;
}

img{
  border-radius: 10%;
}

